{% extends "base.html" %}
{% block title %}Rooms{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card p-3">
        <h3 class="card-title mb-0">{{ room.room_name }}</h3>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card p-3 my-4" style="height: 65vh;">
                <div class="h-100 d-inline-block overflow-auto text-justify pr-2" id="chat-box">
                    {% for chat_message in chat_messages %}
                    <p class="font-weight-bold m-0">{{ chat_message.sender }}</p>
                    <p class="text-secondary m-0">{{ chat_message.message }}</p>
                    <hr class="my-1">
                    {% endfor %}
                </div>
            </div>
            
            <div class="card">
                <div class="input-group">
                    <input type="text" class="form-control" id="message-input" name="msg">
                    <div class="input-group-append">
                        <input class="btn btn-primary" id="message-send-input" value="Send">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 my-4 list-group" id="online-list" style="height: 65vh;">
                <h5>Online who joined this room:</h5>
                <hr class="my-1">
                {% for online_user in online_users %}
                <li class="list-group-item list-group-item-action">{{ online_user.user.username }}</li>
                {% endfor %}
            </div>
        </div>
    </div> 
</div>

<!-- Hidden inputs to pass python variables to js file -->
<input type="text" id="room-id" value="{{room.id}}" hidden>
<input type="text" id="user-name" value="{{user}}" hidden>

{% load static %}
<script src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script src='{% static "js/socket.js" %}'></script>

{% endblock %}