{% extends "base.html" %}
{% block title %}Rooms{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="card p-3">
            <h3 class="card-title mb-0">All rooms</h3>
        </div>

        <div class="card my-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Room name" name="room_name">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Create New Room">
                    </div>
                </div>
            </form>
        </div>

        {% for room in rooms %}
        <div class="card mt-4">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="card-title"><a href="{{ room.id }}">{{ room.room_name }}</a></h3>
                </div>
                <!-- <a class="dropdown-item" href="/rooms/delete/{{ room.id }}">Delete room</a> -->
            </div>
        </div>
        {% empty %}
            There are no rooms
        {% endfor %}
    </div>
{% endblock %}